{% extends 'game/base.html' %}
{% block title %} Log in {% endblock %}
{% block content %}
<h3 class="text-secondary fw-bolder my-5 text-center" >Log in</h3>
<div class="container-lg  border border-secondary text-center rounded">
    <form method="post" action="">
        {% csrf_token %}
        <label for="email" class=" text-center fw-bolder my-2">Email</label>
        <input type="email" class="form-control my-2" autofocus name="email">
        <label for="password" class=" text-center fw-bolder my-2">Password</label>
        <input type="password" class="form-control my-2" name="password">
        <button type="submit" class="btn btn-lg border border-1 border-success my-2 rounded-pill ">Submit</button>
    
    </form>
</div>

<div class="container-fluid border border-red border-2 text-center rounded text-red">
    {{msg}}
</div>

{% endblock %}