{% extends 'game/base.html' %}
{% block title %}
{% if request.user.is_authenticated %}
    {{user.username}}
{% else %}
Guest
{% endif %}
{% endblock %}
{% block content %}
<nav>
    {% if not request.user.is_authenticated %}
        <div><a href="{% url 'register' %}">Sign up</a></div>
        <div><a href="{% url 'login' %}">Log in</a></div>
    {% else %}
    {{user.username}}
    <a href="{% url 'logout' %}">Log out</a>
    {% endif %}
</nav>
<div class="">
    <!-- <h3>{{scrambled_word}}</h3> -->
</div>
<div>
    <form>
        <input type="text" maxlength="">
    </form>
</div>
{% endblock %}