{% extends 'game/base.html' %} 
<!-- Extends the base template -->
{% block title %}
{% if request.user.is_authenticated %}
    {{user.email}}
{% else %}
Guest
{% endif %}
{% endblock %}
{% block content %}
<section>
    <div class="container-lg container-1 align-center text-center bg-dark my-5 rounded text-light text-lg fw-bolder">
        <h2>Score :{% if request.user.is_authenticated %} {{request.user.currentScore}} {% else %} {{ score }} {% endif %}</h2>
    </div>
</section>
<section>
    <div>
        {% if message %}
            {% if message == 'Correct!' %}
                <div class="container-lg align-center alert alert-success fw-bolder text-center">
                    <h3>{{message}}</h3>
                </div>
            {% else %}
                <div class="container-lg align-center alert alert-danger fw-bolder text-center">
                    <h4>{{message}}</h4>
                </div>
            {% endif %}
        {% endif %}
    </div>
</section>
<section>
    <div class=" border-dark container-lg shadow-xlg bg-light m-5">
        <h1 class="fw-bold, text-dark text-center">{{word}}</h1>
    </div>
    
</section>

<section>
    <div class="container-lg border-dark text-dark bg-light my-5 align-center">
        <form method="POST" action="">
            {% csrf_token %}
            <h1 class="fw-bold, text-dark text-center my-2">{{scrambled_word}}</h1>
            <div class="container-lg text-center border border-secondary border-2 align-center">
                {{form.as_p}}
            </div>
            
            <button type="submit" class="rounded-pill bg-info btn btn-lg border-success my-2 align-center">Submit</button>
            <p>Form errors</p>
            {% for field in form %}
                {% for error in field.errors %}
                <strong>{{ error | escape }}</strong><br>
                {% endfor %}
            {% endfor %}
        </form>
    </div>
</section>

{% endblock %}