{% extends 'game/base.html' %} 
<!-- Extends the base template -->
{% block title %}
{% if request.user.is_authenticated %}
    {{user.email}}
{% else %}
Guest
{% endif %}
{% endblock %}
{% block content %}
<nav>
    {% if not request.user.is_authenticated %}
        <div><a href="{% url 'register' %}">Sign up</a></div>
        <div><a href="{% url 'login' %}">Log in</a></div>
    {% else %}
    {{user.email}}
    Level : {{user.level}}
    <a href="{% url 'edit_user' %}">Account details</a>
    <a href="{% url 'logout' %}">Log out</a>
    {% endif %}
</nav>
<div class="">
    <h1><strong>Score :{% if request.user.is_authenticated %} {{request.user.currentScore}} {% else %} {{ score }} {% endif %}</strong></h1>
</div>
<div>
    {% if message %}
        <p>Message : {{message}}</p>
    {% endif %}
    <h1>{{word}}</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <h1>{{scrambled_word}}</h1>
        {{form.as_p}}
        <button type="submit">Submit</button>
        <p>Form errors</p>
        {% for field in form %}
            {% for error in field.errors %}
            <strong>{{ error | escape }}</strong><br>
            {% endfor %}
        {% endfor %}
    </form>
    <p>Errors : </p>
    {% for error in form.non_field_errors %}
        <strong>{{ error | escape }}</strong><br>
    {% endfor %}
    {% if messages %}
    {% for message in messages %}
        {{message}}<br>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}